<!-- Validation failure messages -->
<% if @foods_catagory.errors.any? %>
  <% @foods_catagory.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Foods Catagory</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_foods_catagory" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for foodcatagory_name -->
      <div class="form-group">
        <label for="foodcatagory_name" class="control-label">
          Foodcatagory name
        </label>

        <input type="text" id="foodcatagory_name" name="foodcatagory_name" placeholder="Foodcatagory name" class="form-control" value="<%= @foods_catagory.foodcatagory_name %>">
      </div>

      <button class="btn btn-success">
        Create Foods Catagory
      </button>
      or
      <a href="/foods_catagories">Cancel</a>
    </form>
  </div>
</div>
